/* Hero Section */
.section-hero{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-img-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
.hero-bg-img {
    width: 90vw;
    height: 35vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.hero-img-container p {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--normal-font-size);
    color: white;
    background: rgb(47,48,50);
    background: linear-gradient(180deg, rgba(47,48,50,0) 0%, rgba(19,21,25,1) 76%);
}

/* Test Section */
.test-container {
    width: 90vw;
    margin: auto;
    padding: .4rem;
}
.test-card-container {
    width: 95%;
    height: 160px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border: 2px solid var(--color-first);
}
.left-card-sub-container {
    overflow: hidden;
}
.test-title {
    max-width: 140px;
}
.test-card-left-container {
    display: flex;
    margin: 0 20px;
}
.test-card-left-container img {
    width: 32px;
    height: 32px;
    margin-right: 20px;
}
.test-card-right-container .btn-view {
    width: 75px;
}

/* Schedule test component */
.schedule-test {
    padding: .5rem;
}
.schedule-test-input-container{
    margin: 15px 0;
}
.input-title-h3{
    margin: 8px 0;
}
.input-box-text {
    width: 95%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-first);
    font-family: var(--font-alpha);
    font-size: var(--normal-font-size);
}
.input-box-text:focus-visible {
    outline: none;
    border-bottom: 2px solid var(--color-first);
}
.test-left-sub-inputs-container {
    margin: 15px 0;
}
.schedule-test-small-input-box{
    margin: 15px 0;
}
.schedule-test-small-input-box p {
    padding: 5px;
}
 .input-box{
    width: 80px;
    padding: 5px;
    margin: 10px 0 0 0;
    font-size: var(--h3-font-size);
    background-color: transparent;
    border: 2px solid var(--color-black);
}
.input-box:focus-visible {
    outline: none;
    border: 2px solid var(--color-first);
}
.difficulty-options-container{
    cursor: pointer;
}
.difficulty-options-container .active{
    padding: 2px;
    display: inline-block;
    font-weight: var(--font-weight-bold);
    border-bottom: 2px solid var(--color-first);
}
.schedule-test-right-container {
    margin: 15px 0;
}
.date-input-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-schedule {
    margin: 15px 0;
}
.btn-schedule:disabled {
    background-color: white;
    cursor: not-allowed !important;
    color: var(--color-first);
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

  .table-link {
    text-decoration: underline;
    cursor: pointer;
  }



@media(min-width: 43.7em){
    .hero-bg-img {
        width: 80vw;
        height: 50vh;
    }
    .hero-img-container p{
        font-size: var(--h3-font-size);
        font-weight: var(--font-weight-medium);
        width: 80vw;
    }
    .test-container {
        width: 80vw;
        margin: auto;
        padding: .5rem;
    }
    .test-card-container {
        width: 85%;
        height: 160px;
        margin: 10px auto;
        padding: 1rem;
    }
    .test-title {
        max-width: 400px;
        text-overflow: clip;
    }
    .date-input-flex {
        width: 30%;
    }
    .schedule-test-right-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.testedit-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.inactive-popup {
    top: -100%;
}

.popup-container {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.popup-date-container .dates{
    display: flex;
}
.popup-buttons-container {
    display: flex;
    column-gap: 20px;
}
.popup-buttons-container .btn-cancel {
    background-color: var(--color-white);
    color: var(--color-first);
    box-shadow: none;
    border: 1px solid var(--color-first);
}


